.part4_bmi{
    background-color: rgba(34, 34, 34, 1);
    border-radius: 15px;
}
.bmi1{
    margin-top: 200px;
    padding-left: 140px;
    padding-top: 30px;
}
.p4_bmi{
    font-size: 1.8rem;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
    /* margin-bottom: 10px;
    margin-top: 0; */
}
th,td{
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    border: 1px solid white;
    padding: 20px;
    color:rgba(255, 255, 255, 1);
    text-align: left;
}
.input_all{
    background-color: rgba(255, 255, 255, 0.6);
}


